.container {
  padding: 0px 120px 0 120px;
}
.container-body {
  margin-top: 150px;
}
.blog-posts {
  display: flex;
  flex-flow: row wrap;
}

.blog-posts div {
  margin: 10px;
}

.blog-post-content {
  margin-top: 50px;
}
.avatar-img {
  width: 200px !important;
  height: 200px !important;
}
.avatar-img img {
  margin-bottom: 0;
}
